.label::first-letter {
	text-transform: capitalize;
}
.field-select {
	padding: 10px 0;
}

/* Inline #6 | http://localhost:9000/listings */

.bottom-absolute {
	position: absolute;
	bottom: 0;
}

.cursor {
	cursor: pointer;
}
.object-fit-cover {
	object-fit: cover;
}
