.label::first-letter {
	text-transform: capitalize;
}
.field-select {
	padding: 10px 0;
}

/* Inline #6 | http://localhost:9000/listings */

.bottom-absolute {
	position: absolute;
	bottom: 0;
}

.right-absolute {
	position: absolute;
	right: 0;
}
.cursor {
	cursor: pointer;
}
.object-fit-cover {
	object-fit: cover;
}
.single-listing-favourites-button {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
}

/* Inline #6 | http://localhost:9000/listing/quidem-vel-quia-faci */

.over-image-fav-button {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 99;
	font-size: 2.5rem;
}

.pricing-block .is-info .panel-heading {
	background-color: #eef6fc;
	color: #1d72aa;
}

.pricing-block .panel-block {
	justify-content: center;
}

/* Element | http://localhost:9000/AddCredits */
.popular-badge {
	position: absolute;
	top: 6px;
	right: -7px;
	width: 64px;
	transform: rotate(35deg);
}
